<div class="row">
    <div class="form login-form">
        <div class="form-group">
            <label for="email-login">email:</label>
            <input type="text" class="form-control" id="email-login" placeholder="Enter Your Email Here"/>
        </div>
    </div>
</div>