<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-input" id="email-login" placeholder="Enter e-mail here">
            </div>
            <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Sign Up</h2>
        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">Email address</label>
                <input type="text" class="form-input" id="email-signup" placeholder="Enter your e-mail here"/>
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="text" id="password-signup" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>