header, .blog:not(:last-child) {
    border-bottom: 1px solid #ccc;
    
}
/*use flex to set nav bar to align horizontal*/
.navbar {
    
    justify-content: space-between;
    
}

.navbar ul {
    display: flex;
    list-style: none;
    
}
.navbar ul li {

    margin: 0 10px; /* Adjust the margin as needed */
}



.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}