header, .blog:not(:last-child) {
    border-bottom: 1px solid #ccc;
    flex-direction: row;
}
/*use flex to set nav bar to align horizontal*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    display: inline-flex;
    margin: 0 10px; /* Adjust the margin as needed */
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}